#!/usr/bin/make -f

%:
	dh $@ --with autoreconf,python2

override_dh_auto_build:
	dh_auto_build

	# Generate the manpage.
	xmlto man debian/protoc.xml

	# Python build.
	cd python && python setup.py build --cpp_implementation

	# Java build.
	ant -f debian/java-build.xml jar

override_dh_auto_test:
	dh_auto_test

	# Python test.
	cd python && \
		LD_LIBRARY_PATH=../src/.libs python setup.py test --cpp_implementation

override_dh_auto_clean:
	dh_auto_clean

	# Python clean.
	cd python && python setup.py clean --all
	rm -rf python/protobuf.egg-info

	# Java clean.
	ant -f debian/java-build.xml clean || true
	mh_clean

override_dh_auto_install:
	dh_auto_install

	# Python install.
	cd python && \
		python setup.py install --cpp_implementation \
			--install-layout=deb --no-compile \
			--root=$(CURDIR)/debian/python-protobuf
	find $(CURDIR)/debian/python-protobuf -name 'protobuf-*-nspkg.pth' -delete

	# Java install.
	mh_install

override_dh_install:
	dh_install

	# Convert doc dir to symlink for the -dev packages.
	rm -rf $(CURDIR)/debian/libprotobuf-dev/usr/share/doc/libprotobuf-dev
	ln -s libprotobuf9 $(CURDIR)/debian/libprotobuf-dev/usr/share/doc/libprotobuf-dev
	rm -rf $(CURDIR)/debian/libprotoc-dev/usr/share/doc/libprotoc-dev
	ln -s libprotoc9 $(CURDIR)/debian/libprotoc-dev/usr/share/doc/libprotoc-dev

	# Remove compiler headers from libprotobuf-dev.
	rm -rf $(CURDIR)/debian/libprotobuf-dev/usr/include/google/protobuf/compiler
